* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #333;
    color: #eee;
}

.hello {
    padding: 20px;
    background-color: #444;
    color: #eee;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    caret-color: #444;
    caret-width: 2px;

}