#weather-icon img {
    height: 10rem;
}

#temp-value h1 {
    font-size: 4.5rem;
    font-weight: 300;
    display: inline-block;
}

#temp-value span {
    font-size: 3rem;
    font-weight: 300;
    align-self: flex-start;
    vertical-align: top;
}


#date-value span {
    font-size: 1rem;
    font-weight: 400;
}

#details h5 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #4F4F4F;
}

#city-img {
    color: #D6D7DA;
    background-image: url("../assests/city.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}